<div class="nav">
  <div class="container-fluid">
    <div class="nav__content dflex align-items-center">
      <ul class="nav__content-menu dflex align-items-center">
        <li class="nav__content-item">
          <a href="" class="nav__content-link" [routerLink]="['/']">home </a>
        </li>
        <li class="nav__content-item">
          <a href="" class="nav__content-link" routerLink="/students"
            >student
          </a>
        </li>
      </ul>
      <div class="nav__content-btn dflex align-items-center">
        <a href="" routerLink="/login" class="btnLogin">login</a>
        <a href="" routerLink="/register" class="btnRegister">register</a>
      </div>
    </div>
    <div class="nav-bg"></div>
  </div>
</div>
<!-- [routerLinkActiveOptions]="{ exact: true }" -->
